.upper__block {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
}
.down__block {
  width: 100%;
  height: calc(598px - 31px - 350px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.upper__block > div {
  height: 100%;
}
.upper__block > div.table__wrapper {
  width: calc(84% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* column space */
.upper__block > div.column_space {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper__block > div.column_space img {
  width: 50px;
}

/* =============== upper block tables =============== */
.upper__block table {
  width: 208px;
}
.upper__block table tbody {
  height: 250px;
}

.upper__block table td:nth-child(1) {
  display: none;
}
.upper__block table td:nth-child(2) {
  width: 100px;
}
.upper__block table tbody td:nth-child(2) {
  text-align: left;
}
.upper__block table td:nth-child(3) {
  width: 40px;
}
.upper__block table tbody td:nth-child(3) {
  text-align: right;
}
.upper__block table td:nth-child(4) {
  width: 40px;
}
.upper__block table tbody td:nth-child(4) {
  text-align: center;
}
.upper__block table td:nth-child(5) {
  width: 40px;
}
.upper__block table tbody td:nth-child(5) {
  text-align: center;
}
/* =============== not aging table =============== */
.upper__block table#not_aging__table td:nth-child(5) {
  display: none;
}
.upper__block table#not_aging__table td:nth-child(6) {
  display: none;
}
/* =============== plan aging table =============== */
.upper__block table#plan_aging__table td:nth-child(4) {
  display: none;
}
.upper__block table#plan_aging__table td:nth-child(6) {
  display: none;
}
/* =============== hisotry table =============== */
.upper__block table#history__table td:nth-child(4) {
  display: none;
}
.upper__block table#history__table td:nth-child(6) {
  display: none;
}
.upper__block table#history__table td:nth-child(7) {
  display: none;
}
.upper__block table#history__table td:nth-child(8) {
  display: none;
}
/* ================================================== */
/* =================  down block   ================== */
/* ================================================== */
.down__block div:nth-child(1),
.down__block div:nth-child(2) {
  width: calc(798px / 2);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down__block div:nth-child(3) {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down__block div:nth-child(3) .button__block {
  width: 100%;
  justify-content: space-between;
}
.down__block div.input__block {
  width: 300px;
}
.down__block div.title {
  width: 100px;
  height: 25px;
  border: solid 1px #0000ff;
  background-color: #0000ff;
  color: white;
}
.down__block input {
  width: 120px;
  height: 25px;
  border: solid 1px #0000ff;
}
