.main__wrapper{
  height: 100px;
}
.button__wrapper{
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
}
.input-blocks__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
}
.summary__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 390px;
}
/* button */
button{
  height: 30px;
  width: 100px;
}

/* date */
.input-blocks__wrapper > div:nth-child(1){
  width: 120px;
}
.input-blocks__wrapper > div:nth-child(1) > div:nth-child(1){
  width: 40px;
}
.input-blocks__wrapper > div:nth-child(1) > input{
  width: 60px;
}
/* die */
.input-blocks__wrapper > div:nth-child(2){
  width: 270px;
}
.input-blocks__wrapper > div:nth-child(2) > div:nth-child(1){
  width: 35px;
}
.input-blocks__wrapper > div:nth-child(2) > input{
  width: 60px;
}
.input-blocks__wrapper > div:nth-child(2) > select{
  width: 140px;
}
.input-blocks__wrapper > div:nth-child(2) > div:nth-child(4){
  width: 25px;
  text-align: right;
  padding-right: 1px;
}
/* is Washed */
.input-blocks__wrapper > div:nth-child(3){
  width: 145px;
}
.input-blocks__wrapper > div:nth-child(3) > div:nth-child(1){
  width: 75px;
}
.input-blocks__wrapper > div:nth-child(3) > input{
  width: 25px;
  display: none;
}
.input-blocks__wrapper > div:nth-child(3) > select{
  width: 50px;
}
/* Press Type */
.input-blocks__wrapper > div:nth-child(4){
  width: 100px;
}
.input-blocks__wrapper > div:nth-child(4) > div:nth-child(1){
  width: 40px;
}
.input-blocks__wrapper > div:nth-child(4) > input{
  width: 25px;
  display: none;
}
.input-blocks__wrapper > div:nth-child(4) > select{
  width: 40px;
}
/* Machine Number */
.input-blocks__wrapper > div:nth-child(5){
  width: 90px;
}
.input-blocks__wrapper > div:nth-child(5) > div:nth-child(1){
  width: 35px;
}
.input-blocks__wrapper > div:nth-child(5) > input{
  width: 35px;
  display: none;
}
.input-blocks__wrapper > div:nth-child(5) > select{
  width: 40px;
}
/* Billet lot */
.input-blocks__wrapper > div:nth-child(6){
  width: 205px;
}
.input-blocks__wrapper > div:nth-child(6) > div:nth-child(1){
  width: 65px;
}
.input-blocks__wrapper > div:nth-child(6) > input{
  width: 125px;
}
.input-blocks__wrapper > div:nth-child(6) > select{
  width: 40px;
}
/* Billet Size */
.input-blocks__wrapper > div:nth-child(7){
  width: 115px;
}
.input-blocks__wrapper > div:nth-child(7) > div:nth-child(1){
  width: 65px;
}
.input-blocks__wrapper > div:nth-child(7) > input{
  width: 25px;
  display: none;
}
.input-blocks__wrapper > div:nth-child(7) > select{
  width: 40px;
}
/* Billet length ---------------------*/
.input-blocks__wrapper > div:nth-child(8){
  width: 160px;
}
.input-blocks__wrapper > div:nth-child(8) > div:nth-child(1){
  width: 100px;
}
.input-blocks__wrapper > div:nth-child(8) > input{
  width: 25px;
  display: none;
}
.input-blocks__wrapper > div:nth-child(8) > select{
  width: 6  0px;
}

/* Billet Qty */
.input-blocks__wrapper > div:nth-child(9),
.input-blocks__wrapper > div:nth-child(10){
  width: 150px;
}
.input-blocks__wrapper > div:nth-child(9) > div:nth-child(1),
.input-blocks__wrapper > div:nth-child(10) > div:nth-child(1){
  width: 80px;
}
.input-blocks__wrapper > div:nth-child(9) > input,
.input-blocks__wrapper > div:nth-child(10) > input{
  width: 25px;
}
.input-blocks__wrapper > div:nth-child(9) > select,
.input-blocks__wrapper > div:nth-child(10) > select{
  width: 40px;
}
/* stop cause */
.input-blocks__wrapper > div:nth-child(11){
  width: 165px;
}
.input-blocks__wrapper > div:nth-child(11) > div:nth-child(1){
  width: 73px;
}
.input-blocks__wrapper > div:nth-child(11) > input{
  width: 25px;
}
.input-blocks__wrapper > div:nth-child(11) > select{
  width: 50px;
}
/* press work time */
.input-blocks__wrapper > div:nth-child(12){
  width: 175px;
}
.input-blocks__wrapper > div:nth-child(12) > div:nth-child(1),
.input-blocks__wrapper > div:nth-child(12) > div:nth-child(2){
  width: 65px;
}
.input-blocks__wrapper > div:nth-child(12) > input{
  width: 45px;
}
.input-blocks__wrapper > div:nth-child(12) > select{
  width: 80px;
}
/* actual ram speed */
.input-blocks__wrapper > div:nth-child(13){
  width: 135px;
}
.input-blocks__wrapper > div:nth-child(13) > div:nth-child(1){
  width: 60px;
}
.input-blocks__wrapper > div:nth-child(13) > input{
  width: 25px;
}
.input-blocks__wrapper > div:nth-child(13) > select{
  width: 80px;
}
/* actual die temp */
.input-blocks__wrapper > div:nth-child(14){
  width: 140px;
}
.input-blocks__wrapper > div:nth-child(14) > div:nth-child(1){
  width: 80px;
}
.input-blocks__wrapper > div:nth-child(14) > input{
  width: 25px;
}
.input-blocks__wrapper > div:nth-child(14) > select{
  width: 80px;
}
/* name */
.input-blocks__wrapper > div:nth-child(15){
  width: 175px;
}
.input-blocks__wrapper > div:nth-child(15) > div:nth-child(1){
  width: 40px;
}
.input-blocks__wrapper > div:nth-child(15) > input{
  width: 35px;
}
.input-blocks__wrapper > div:nth-child(15) > select{
  width: 80px;
}
/* summary table */
#summary__table tbody{
  height: 350px;
}
#summary__table{
  /* background-color: antiquewhite; */
}
/* id */
#summary__table tr th:nth-child(1),
#summary__table tr td:nth-child(1){
  display: none;
}
/* date */
#summary__table tr th:nth-child(2),
#summary__table tr td:nth-child(2){
  width: 40px;
  text-align: center;
}
/* Press Number */
#summary__table tr th:nth-child(3),
#summary__table tr td:nth-child(3){
  width: 20px;
}
#summary__table tr td:nth-child(3){
  text-align: right;
}
/* Die Name */
#summary__table tr th:nth-child(4),
#summary__table tr td:nth-child(4){
  width: 100px;
}
#summary__table tr td:nth-child(4){
  text-align: left;
}
/* Die_id */
#summary__table tr th:nth-child(5),
#summary__table tr td:nth-child(5){
  display: none;
}
/* Press Type */
#summary__table tr th:nth-child(6),
#summary__table tr td:nth-child(6){
  width: 25px;
}
#summary__table tr td:nth-child(6){
  text-align: center;
}
/* Press Type_id */
#summary__table tr th:nth-child(7),
#summary__table tr td:nth-child(7){
  display: none;
}
/* is Washed */
#summary__table tr th:nth-child(8),
#summary__table tr td:nth-child(8){
  width: 42px;
}
#summary__table tr td:nth-child(8){
  text-align: center;
}
/* is Washed_id */
#summary__table tr th:nth-child(9),
#summary__table tr td:nth-child(9){
  display: none;
}
/* billet lot */
#summary__table tr th:nth-child(10),
#summary__table tr td:nth-child(10){
  width: 90px;
}
/* B/S */
#summary__table tr th:nth-child(11),
#summary__table tr td:nth-child(11){
  width: 23px;
}
#summary__table tr td:nth-child(11){
  text-align: right;
}
/* Billet Length */
#summary__table tr th:nth-child(12),
#summary__table tr td:nth-child(12){
  width: 35px;
}
#summary__table tr td:nth-child(12){
  text-align: right;
}
/* Plan Billet Qty */
#summary__table tr th:nth-child(13),
#summary__table tr td:nth-child(13){
  width: 37px;
}
#summary__table tr td:nth-child(13){
  text-align: right;
}
/* Actual Billet Qty */
#summary__table tr th:nth-child(14),
#summary__table tr td:nth-child(14){
  width: 37px;
}
#summary__table tr td:nth-child(14){
  text-align: right;
}
/* Stop Cause */
#summary__table tr th:nth-child(15),
#summary__table tr td:nth-child(15){
  width: 45px;
}
#summary__table tr td:nth-child(15){
  text-align: right;
}
/* Start Finish time */
#summary__table tr th:nth-child(16),
#summary__table tr td:nth-child(16),
#summary__table tr th:nth-child(17),
#summary__table tr td:nth-child(17)
{
  width: 35px;
}
#summary__table tr td:nth-child(16),
#summary__table tr td:nth-child(17)
{
  text-align: right;
}
/* Ramspeed Dietemp */
#summary__table tr th:nth-child(18),
#summary__table tr td:nth-child(18),
#summary__table tr th:nth-child(19),
#summary__table tr td:nth-child(19)
{
  width: 50px;
}
#summary__table tr td:nth-child(18),
#summary__table tr td:nth-child(19)
{
  text-align: right;
}
