.button__wrapper button {
    height: 30px;
    margin: 0;
}


/* --------- main wrapper ---------  */

.main__wrapper {
    padding-top: 15px;
    flex-direction: row;
    height: 150px;
    align-content: space-around;
    justify-content: space-around;
}


/* select */

.main__wrapper select {
    border-width: 1px 1px 1px 0;
}


/* ordersheet number */

.main__wrapper>div:nth-child(1) {
    width: 280px;
}

.main__wrapper>div:nth-child(1)>div:nth-child(1) {
    width: 120px;
}

.main__wrapper>div:nth-child(1)>input:nth-child(2) {
    width: 100px;
}


/* production number */

.main__wrapper>div:nth-child(2) {
    width: 360px;
}

.main__wrapper>div:nth-child(2)>div {
    width: 130px;
}

.main__wrapper>div:nth-child(2)>input {
    width: 50px;
}

.main__wrapper>div:nth-child(2)>select {
    width: 180px;
}


/* issue date */

.main__wrapper>div:nth-child(3) {
    width: 250px;
}

.main__wrapper>div:nth-child(3)>div {
    width: 80px;
}

.main__wrapper>div:nth-child(3)>input {
    width: 140px;
}


/* delivery date */

.main__wrapper>div:nth-child(4) {
    width: 250px;
}

.main__wrapper>div:nth-child(4)>div {
    width: 80px;
}

.main__wrapper>div:nth-child(4)>input {
    width: 140px;
}


/* production quantity */

.main__wrapper>div:nth-child(5) {
    width: 200px;
}

.main__wrapper>div:nth-child(5)>div {
    width: 130px;
}

.main__wrapper>div:nth-child(5)>input {
    width: 50px;
}


/* ======================        button area       ======================= */


/* --------- button wrapper ---------  */

.button__wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/* --------- summary wrapper ---------  */

.summary__wrapper {
    height: calc(598px - 30px - 165px - 100px);
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}


/* ======================        summary-table       ======================= */

#summary__table tbody {
    height: 270px;
}


/* id */

#summary__table th:nth-child(1),
#summary__table td:nth-child(1) {
    display: none;
}


/* ordersheet number */

#summary__table th:nth-child(2),
#summary__table td:nth-child(2) {
    width: 75px;
}


/* Delivery Date */

#summary__table th:nth-child(3),
#summary__table td:nth-child(3) {
    width: 75px;
}

#summary__table td:nth-child(3) {
    text-align: center;
}


/* Issue Date */

#summary__table th:nth-child(4),
#summary__table td:nth-child(4) {
    width: 75px;
}

#summary__table td:nth-child(4) {
    text-align: center;
}


/* production number */

#summary__table th:nth-child(5),
#summary__table td:nth-child(5) {
    width: 115px;
}


/* production Qty */

#summary__table th:nth-child(6),
#summary__table td:nth-child(6),
#summary__table th:nth-child(7),
#summary__table td:nth-child(7),
#summary__table th:nth-child(8),
#summary__table td:nth-child(8),
#summary__table th:nth-child(9),
#summary__table td:nth-child(9) {
    width: 58px;
}

#summary__table td:nth-child(6),
#summary__table td:nth-child(7),
#summary__table td:nth-child(8),
#summary__table td:nth-child(9) {
    text-align: right;
}


/* Update */

#summary__table th:nth-child(10),
#summary__table td:nth-child(10) {
    width: 70px;
}

#summary__table td:nth-child(10) {
    text-align: center;
}


/* Update */

#summary__table th:nth-child(11),
#summary__table td:nth-child(11) {
    width: 60px;
}

#summary__table td:nth-child(11) {
    text-align: center;
}