body>div {
    width: 100%;
}


/* ============== Page Layout ============== */


/* ============== Page Layout ============== */


/* ============== Page Layout ============== */

.upper__wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.middle__wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttom__wrapper {
    height: calc(598px - 31px - 50px - 100px);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.input-block__wrapper {
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttom__wrapper>div {
    height: 100%;
}

.buttom__wrapper>div:nth-child(1) {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttom__wrapper>div:nth-child(2) {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttom__wrapper>div.ng_table__wrapper {
    width: calc(798px - 200px - 200px);
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ng_code__select {
    width: 130px;
}


/* ================================================================== */


/* =====================  upper__wrapper   ========================== */


/* ================================================================== */


/* date */

.upper__wrapper>div:nth-child(1) {}

.upper__wrapper>div:nth-child(1) input {
    width: 120px;
}


/* date */

.upper__wrapper>div:nth-child(2)>.input__title {
    width: 80px;
}

.upper__wrapper>div:nth-child(2) input {
    width: 120px;
    display: none;
}

.upper__wrapper>div:nth-child(2) select {
    width: 130px;
}


/* Pressing Type */

.upper__wrapper>div:nth-child(3)>.input__title {
    width: 110px;
}

.upper__wrapper>div:nth-child(3) input {
    width: 30px;
    text-align: center;
    font-size: 12pt;
    /* padding-bottom: 3px; */
    /* height: calc(20px - 3px); */
    font-family: "ＭＳ ゴシック";
}


/* Input Billet */

.upper__wrapper>div:nth-child(4)>.input__title {
    width: 120px;
}

.upper__wrapper>div:nth-child(4) input {
    width: 30px;
}


/* Middle Wrapper */

.middle__wrapper .input__title {
    width: 90px;
}

.middle__wrapper input {
    width: 90px;
}

.middle__wrapper table {
    /* width: 700px; */
}

.middle__wrapper table tbody {
    overflow-y: unset;
    height: initial;
}

.middle__wrapper table th,
.middle__wrapper table td {
    width: 27px;
}

.middle__wrapper table td {
    text-align: right;
}

#slkhuon {
    width: 10px;
    color: red;
    text-align: right;
}


/* ================================================================== */


/* ===================== NG table Wrapper  ========================== */


/* ================================================================== */

.ng_table__wrapper {
    /* background-color: khaki; */
}

.ng_table__wrapper>div:nth-child(1) .input__title {
    width: 130px;
}

.ng_table__wrapper>div:nth-child(1) input {
    width: 130px;
}

.ng_table__wrapper>div:nth-child(2) .input__title {
    width: 75px;
}

.ng_table__wrapper .space {
    width: 20px;
}


/* ===================== Rack table  ========================== */

#rack__table tbody {
    height: 200px;
    width: 180px;
}

#rack__table td,
#rack__table th {
    font-size: 12pt;
}

#rack__table th:nth-child(1),
#rack__table td:nth-child(1) {
    display: none;
}

#rack__table th:nth-child(2),
#rack__table td:nth-child(2) {
    width: 50px;
}

#rack__table td {
    text-align: right;
}

#rack__table th:nth-child(3),
#rack__table td:nth-child(3) {
    width: 42px;
}

#rack__table th:nth-child(4),
#rack__table td:nth-child(4) {
    width: 60px;
    padding: 0 0 0 1px;
}

#rack__table td:nth-child(4) input {
    width: 60px;
    border: 0;
    font-size: 12pt;
}

#rack__table #selected__tr input {
    background-color: #d6d283;
    /* background-color: red; */
}

#rack__table #table__footer {
    height: 50px;
    overflow-y: unset;
}

#table__footer td {
    border: none;
}

#table__footer td:nth-child(2),
#table__footer td:nth-child(3),
#table__footer td:nth-child(4) {
    border-top: gray solid 1px;
}


/* ===================== button area  ========================== */

.button__area {
    display: flex;
}

.button__area button {
    margin: 5px;
}


/* ===================== ng table  ========================== */

#ng__table tbody {
    height: 160px;
    width: 300px;
}

#ng__table td,
#ng__table th {
    font-size: 12pt;
}

#ng__table th:nth-child(1),
#ng__table td:nth-child(1) {
    display: none;
}

#ng__table th:nth-child(2),
#ng__table td:nth-child(2) {
    display: none;
}

#ng__table th:nth-child(3),
#ng__table td:nth-child(3) {
    width: 117px;
}

#ng__table td:nth-child(3) select {
    width: 100%;
    font-size: 12pt;
    border: 0;
    /* background-color: khaki; */
}

#ng__table th:nth-child(4),
#ng__table td:nth-child(4) {
    width: 90px;
}

#ng__table td:nth-child(4) {
    text-align: right;
    padding: 0;
}

#ng__table td:nth-child(4) select {
    width: 100%;
    font-size: 12pt;
    border: 0;
    /* background-color: khaki; */
}

#ng__table th:nth-child(5),
#ng__table td:nth-child(5) {
    width: 60px;
}

#ng__table td:nth-child(5) {
    text-align: right;
}

button {
    height: 25px;
}

#ng__table td:nth-child(4) input,
#ng__table td:nth-child(5) input {
    width: 100%;
    border: 0;
    font-size: 12pt;
}

#ng__table input {
    cursor: pointer;
}

#ng__table input.selected-input {
    background-color: #d6d283;
    cursor: initial;
}

#ng__table select.selected-select {
    background-color: #d6d283;
    cursor: initial;
}

#ng__table #ng-table__footer {
    height: 50px;
    overflow-y: unset;
}

#ng__table #ng-table__footer tr td {
    border: 0;
}

#ng__table #ng-table__footer tr:nth-child(1) td {
    border-top: gray solid 1px;
}