.button__wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__wrapper div.input-block__outer {
  width: auto;
}
.button__wrapper div.input__title {
  width: 100px;
}
.button__wrapper input {
  width: 150px;
}
.summary__wrapper {
  height: calc(598px - 31px - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ==============  summary table ================ */
#summary__table tbody {
  width: 525px;
  height: 400px;
}
/* t_press_id */
#summary__table th:nth-child(1),
#summary__table td:nth-child(1) {
  display: none;
}
/* date */
#summary__table th:nth-child(2),
#summary__table td:nth-child(2) {
  width: 35px;
}
#summary__table td:nth-child(2) {
  text-align: center;
}
/* Press Number */
#summary__table th:nth-child(3),
#summary__table td:nth-child(3) {
  width: 20px;
}
#summary__table td:nth-child(3) {
  text-align: center;
}
/* Die Number */
#summary__table th:nth-child(4),
#summary__table td:nth-child(4) {
  width: 120px;
}
#summary__table td:nth-child(4) {
  text-align: left;
}
/* Press Type */
#summary__table th:nth-child(5),
#summary__table td:nth-child(5) {
  width: 22px;
}
#summary__table td:nth-child(5) {
  text-align: center;
}
/* is washed */
#summary__table th:nth-child(6),
#summary__table td:nth-child(6) {
  width: 25px;
}
#summary__table td:nth-child(6) {
  text-align: center;
}
/* Billet Size */
#summary__table th:nth-child(7),
#summary__table td:nth-child(7) {
  width: 20px;
}
#summary__table td:nth-child(7) {
  text-align: center;
}
/* Billet Length */
#summary__table th:nth-child(8),
#summary__table td:nth-child(8) {
  width: 30px;
}
#summary__table td:nth-child(8) {
  text-align: right;
}
/* Plan Billet Qty */
#summary__table th:nth-child(9),
#summary__table td:nth-child(9) {
  width: 22px;
}
#summary__table td:nth-child(9) {
  text-align: right;
}
/* Actually Billet Qty */
#summary__table th:nth-child(10),
#summary__table td:nth-child(10) {
  width: 22px;
}
#summary__table td:nth-child(10) {
  text-align: right;
}
/* Press Start Time */
#summary__table th:nth-child(11),
#summary__table td:nth-child(11) {
  width: 33px;
}
#summary__table td:nth-child(11) {
  text-align: right;
}
/* Press End Time */
#summary__table th:nth-child(12),
#summary__table td:nth-child(12) {
  width: 33px;
}
#summary__table td:nth-child(12) {
  text-align: right;
}
/* Work Qty */
#summary__table th:nth-child(13),
#summary__table td:nth-child(13) {
  width: 40px;
}
#summary__table td:nth-child(13) {
  text-align: right;
}
/* Work Qty */
#summary__table th:nth-child(14),
#summary__table td:nth-child(14) {
  width: 40px;
}
#summary__table td:nth-child(14) {
  text-align: right;
}
